body {
background-color: #FFFFFF; 

}




.logo {
        /* Logo */
  
 }

 /*
 .sign-in {
     Sign In 
    display: flex; 
    justify-content:flex-start;
    align-items: flex-end;
*/


/*
.sign-up {
     Bg 
    display: flex; 
    justify-content:flex-end;
    align-items: space-around;
    */


.header-container{
    width: 518px;
    height: 108px;
    margin: 144px;
    
    display: flex;
    flex-direction: row; /* rör ej flex direktion  */
    flex-wrap: 
    
}
/
.header-info 
    display: flex;
    flex-wrap: wrap
    
}


.main-title {
   
    
}


.main-info {

    
}


.header-btn{
    width: 366px;
    height: 53px;
    display: flex;
    
}


.btn-1{
    width: 175px;
    height: 53px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background-color: orange;
    color: white;
   
}

.btn-2{
    width: 175px;
    height: 53px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    background-color: white;
    color:orange;
    border: none ;
}



.header-img{
    /*
    display: flex;
    justify-self: flex-start ;
    flex-wrap: wrap;
    */
    
}

.design {

  
}


.design.info{


    
}

.design-img{


    
}








/* or 156% */

}








 


}

.btn:hover {
    background-color: orange 

}


