.body {
   max-width:1400px ;
   max-height: 3843px;
   background-color: #FFFFFF; 
   
}
.header {  
    width:100% ;
    max-width: 1400px;
    margin:0 auto;
    display: flex;
   /* height: 30px;*/
    justify-content: space-between;
    align-items: center;
    color: #173A56;
} 

.logo {
    display: flex;
    align-items: center;
}













/*.navigation {   rör ej mer 
    max-width: 1400px; 
    height: 78px; 
    display:flex;
    justify-content: space-evenly;
}*/

/*.navigation {  /*             
    
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}klar*/

.navigation {  /* rör ej mer */
    display: flex;
    justify-content: space-evenly;   
    list-style-type: none;

}
   /* rör ej mer */
.Sign-in {
    max-width:102px;
    height:46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border-color: #BCD0E5;
    border: none;
    border:4px;
}




.header-container {    /* rör ej mer  */
    max-width: 1111px;
    height: 496px;
    margin: 145px;
    display: flex;
     /* rör ej flex direktion: row  */
}
.header-info{   /* rör ej mer  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}







.header-btn {    /*rör ej mer, på riktigt rör inte  */
    max-width:366px;
    height: 53px;
    display: flex;
    justify-content: space-evenly;
}








.btn-1 {  /* get started  */   /* rör ej mer, på riktigt rör inte */
    width:175px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
/* identical to box height */
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
}
.btn-2 {  /* Triangel  */   /* rör ej mer, på riktigt rör inte  */
    max-width:20px;
    height:17px;
    border-radius: 1.125px;
}
.btn-3 {  /* watch this video */    /* rör ej mer, på riktigt rör inte  */
    max-width:135px;
    height:24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}
.header-img {     /* rör ej mer, på riktigt rör inte  */
    height: 496px;
    display: flex;
}











                    /*     Andra sektionen börjar här
                               ej-fattas iconer                */


.feature-container{
    max-Width:2211px;
    Height:543px;    
}


.main-title { /* huvudrubrik till we design tools*/
    
    height: 108px;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
} 


  
/* ej klar-fattas iconer */
.card {
    height: 204px;
    display: flex;
    justify-content: space-evenly;
}

.design-title { 
    max-width: 192px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}   

.info_card{
    width: 240px;
    
}



.design-info {
    width: 240px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}







.btn-feature {            /*   ej klar- placering ej korrekt        */
    Width: 175px;
    Height:53px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #FF9900;
    border:none;
}   









       /*    Tredje sektionen börjar här   */          
             /*design professionals */
             

/*.design.professionals-container */


.title {   /* Huvudrubrik-Design Professionals  */

    max-width: 385px;
    height: 54px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;

}

.info {     /*      Info till Design Professionals       */
    max-width: 486px;
    height: 52px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

 
.fa-mouse-pointer {         /* icon 1 */
    width: 51px;
    height: 50px;
    color: #FFFFFF;
    background-color: #7752BE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}




 /* icon 3 */







.fa-heart {              /* icon 2 */
    width: 50px; 
    height: 50px;    
    color: #FFFFFF;
    background-color: #F03E3D;
    display: flex;
    justify-content:center;
    align-items: center;       
    border-radius: 19px;   
}




       /* icon 4*/

.fa-hourglass-hal {               
    width: 50px; 
    height: 50px;    
    color:#FFFFFF;
    background-color: #4DADF7;
    display: flex;
    justify-content:center;
    align-items: center;       
    border-radius: 19px;   

}



.img {
    display: flex;
    position: absolute;
}









